body{
    background-color: #000000;
}

h1{
    color: turquoise;
    text-align: center;
    font-size: 75px;
    text-shadow: 3px 3px 0px #ffffff;
}

nav{
    background-color: turquoise;
    height: 50px;
   }
#menu a{
    text-decoration: none;
    color: #ffffff;
    font-size: large;
}

#menu a:hover{
    border-bottom: 1px solid #ffffff
}

.active{
    border-bottom: 1px solid #ffffff
  }

#menu li { 
    display: inline;
    margin: 1px; 
    top: 22%;
    position: absolute;
}