*{
  margin:0;
  padding:0;
  border:0;
}

body{
    background-color: black;
    color: white;
}

#name{
  float: left;
  font-size: 280%;
  margin-left: 30px;
}

#menu{
  font-size: 110%;
  list-style-type: none;
  letter-spacing: 4px;
}

#name, #menu{
  line-height: 75px;
}

#menu li{
  float: right;
  margin-right: 30px;
}

#menu a{
  text-decoration: none;
  color: inherit;
}

#menu a:hover{
  background-color: white;
  color: black;
}

.active{
  border-bottom: 1px solid white;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 100px;
}

#text{
    width: 50%
}

h2{
    text-decoration: underline white;
    text-align: center;
    margin-top: 2px;
    text-transform: uppercase;
}

p{
    margin-top: 5px;
}

#Band{
    width: 50%;
    position: absolute;
    top: 100px;
    right: 0px;
    height: 80%;
}

h3{
    text-decoration: underline white;
    text-align: center;
}

footer{
  height: 10px;
}

.social-networks{
  text-align: center;
}

.social-networks li{
  display: inline;
}

.social-networks i{
  font-size: 160%;
  margin: 1%;
  padding: 1%;
  color: white;
}

#past{
    width: 50%
}

#upcoming{
    width: 50%;
    position: absolute;
    right: 0px;
    top: 100px
}

#upcoming li{
    margin-top: 5px;
    font-size: large;
}

form{
    width: 350px;
    height: 270px;
    position: absolute;
    right: 550px;
    bottom: 100px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #555555
}

input{
  display: block;
  margin: 5px
  }

#reason{
    width: 90%;
    height: 50px
}

#Members{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    margin: 10px;
}

#Members a{
    text-decoration: none;
    color: inherit;
}


#Members li{
    border: 1px solid white;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    background-color: gray;
}

#Andy h2{
    text-align: center;
}

h4{
    margin-top: 4px;
    color: grey;
    text-decoration: underline
}

#Andy h3{
    text-decoration: underline;
    text-align: left;
    margin-top: 4px;
}

#Jake h3{
    text-decoration: underline;
    text-align: left;
    margin-top: 4px;
}

#Jinxx h3{
    text-decoration: underline;
    text-align: left;
    margin-top: 4px;
}

#PM a{
    text-decoration: none;
    color: inherit;
}

#PM{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;
    margin: 5px;
}

#PM li{
    border: 1px solid white;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    background-color: gray;
}

@media screen  and (max-width: 768px){

#text{
    width: 100%
}

#Band{
    top: 1120px;
    position: absolute;
    width: 100%;
    height: 300px;
}

footer{
    margin-top: 320px;
}

#Andy{
    margin-top: 50px;
    margin-bottom: 50px;
}

#Jake{
    margin-top: 50px;
    margin-bottom: 50px;
}

#Jinxx{
    margin-top: 50px;
    margin-bottom: 50px;
}

#Lonny{
    margin-top: 50px;
    margin-bottom: 50px;
}

#CC{
    margin-top: 50px;
    margin-bottom: 50px;
}

#PM{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    margin: 15px;
}

#Andy h3, h4{
    font-size: x-large;
    text-align: center;
}

#Jake h3{
    font-size: x-large;
    text-align: center;
}

#Jinxx h3{
    font-size: x-large;
    text-align: center;
}

#past{
    width: 100%;
    display: block;
}

#upcoming{
    width: 100%;
    position: relative;
}

form{
    width: 350px;
    height: 250px;
    position: absolute;
    right: 50px;
    top: 970px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #555555
}

#upcoming h2{
    text-align: left
}

#reason{
    width: 90%;
    height: 40px
}
}

@media screen and (max-width:320px){

#menu li{
  float: left;
  margin-right: 30px;
  font-size: medium;
}

#Band{
    width: 100%;
    position: absolute;
    top: 2250px;
    height: 30%;
}

.social-networks i{
  font-size: 70%;
  margin: 1%;
  padding: 1%;
  color: white;
}

footer{
    margin-top: 320px;
}

#PM li{
    border: 1px solid white;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    background-color: gray;
}

#Members li{
    border: 1px solid white;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    background-color: gray;
}


form{
    width: 250px;
    height: 220px;
    position: absolute;
    right: 30px;
    top:2710px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #555555;
    font-size: small;
}

input{
  display: block;
  margin: 1px
  }

label{
    font-size: small;
}

}