*{
  margin:0;
  padding:0;
  border:0;
}

body{
    background-color: black;
    color: white;
}

#name{
  float: left;
  font-size: 280%;
  margin-left: 30px;
}

#menu{
  font-size: 110%;
  list-style-type: none;
  letter-spacing: 4px;
}

#name, #menu{
  line-height: 75px;
}

#menu li{
  float: right;
  margin-right: 30px;
}

#menu a{
  text-decoration: none;
  color: inherit;
}

#menu a:hover{
  background-color: white;
  color: black;
}

.active{
  border-bottom: 1px solid white;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 100px;
}

#text{
    width: 50%
}

h2{
    text-decoration: underline white;
    text-align: center;
    margin-top: 2px;
    text-transform: uppercase;
}

p{
    margin-top: 5px;
}

#Band{
    width: 50%;
    position: absolute;
    top: 100px;
    right: 0px;
    height: 80%;
}

h3{
    text-decoration: underline white;
    text-align: center;
}

footer{
  height: 10px;
}

.social-networks{
  text-align: center;
}

.social-networks li{
  display: inline;
}

.social-networks i{
  font-size: 160%;
  margin: 1%;
  padding: 1%;
  color: white;
}

#past{
    width: 50%
}

#upcoming{
    width: 50%;
    position: absolute;
    right: 0px;
    top: 100px
}

#upcoming li{
    margin-top: 5px;
    font-size: large;
}

form{
    width: 350px;
    height: 270px;
    position: absolute;
    right: 550px;
    bottom: 100px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #555555
}

input{
  display: block;
  margin: 5px
  }

#reason{
    width: 90%;
    height: 50px
}

#Members{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    margin: 10px;
}

#Members a{
    text-decoration: none;
    color: inherit;
}


#Members li{
    border: 1px solid white;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    background-color: gray;
}

#Andy h2{
    text-align: center;
}

#Andy p{
    width: 50%
}

#Andy img{
    right: 0px;
    top: 170px;
    position: absolute;
    width: 50%;
    height: 100%;
}

h4{
    margin-top: 4px;
    color: grey;
    text-decoration: underline
}

#Andy h3{
    text-decoration: underline;
    text-align: left;
    margin-top: 4px;
}

#Jake h3{
    text-decoration: underline;
    text-align: left;
    margin-top: 4px;
}

#Jake p{
    width: 50%;
}